/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/02/2017, 20:21:09
    Author     : ciro
*/

.erro {
    font-style: italic;
    color: red;
}