/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01/03/2017, 22:16:14
    Author     : tunnes (Ayrton Felipe Souza Tunes)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,900');
*{  
    font-weight: 300;
    font-family: 'Roboto', sans-serif !important; 
}
form input[type=text]{
    width: 98%;
}
form{
    margin: 80px auto;
    width: 250px;
    margin-bottom: 40px;
}
form h1{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 35px;
    background-color: #f9dc46;
    text-align: center;
    padding: 8px;
    color: black;
    border-bottom: 0px !important;
    border: 1px solid black;
    margin-bottom: 0px;
    border-top-left-radius: 25px;
}
form select{
    width: 100%;
}
.tabelaDoTeste{
    width: 100%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 10px;
}
.botaoDoidao {
    width: 100%;
    height: 50px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 5px;
    border-radius: 0px;
    background-color: #f9dc46;
    border: 1px solid black;
    border-bottom-right-radius: 25px;
    color: black;
}
#javax_faces_developmentstage_messages{
    padding: 0 auto;
    width: 290px;
    margin: 0 auto;
}
